.academic {
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* max-width: 768px; */
    min-width: 320px;
    box-sizing: border-box;
    padding: 0 12px;
    margin-bottom: 64px;
}

.academic__title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.academic__name {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.academic__about {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.academic__p {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.academic__cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.academic__card {
    border-radius: 10px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
}

.academic-card__text {
    box-sizing: border-box;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.academic-card__text div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    gap: 16px;
}

.academic__pic {
    border-radius: 10px;
    height: 278px;
    width: 100%;
}

.academic__company-name {
    display: flex;
    gap: 12px;
    align-items: center;
    align-self: flex-start;
}

.academic__logo1,
.academic__logo2,
.academic__logo3 {
    overflow: hidden;
}

.academic__logo1 {
    width: 72px;
    height: 20px;
}

.academic__logo2 {
    width: 30px;
}

.academic__logo3 {
    width: 50px;
}

.academic__company-name span {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.academic__about {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.academic__link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #0F8277;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
}

.academic__link img {
    width: 20px;
    height: 20px;
}


@media (min-width:768px) and (max-width:1200px) {
    .academic {
        min-width: 768px;
        max-width: 1200px;
    }

    .academic__cards {
        flex-direction: row;
        gap: 24px;
    }

    .academic__card {
        width: 232px;
    }

    .academic-card__text {
        justify-content: space-between;
        height: 190px;
    }

    .academic__pic {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .academic {
        max-width: none;
        max-width: 1200px;
        margin: 0 auto 80px;
    }

    .academic__cards {
        flex-direction: row;
    }

    .academic__card {
        width: auto;
    }

    .academic__card {
    width: 416px;
    }
}