.business-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-self: center;
    align-items: center;
    min-width: 320px;
    box-sizing: border-box;
    padding: 0 8px;
    margin-bottom: 68px;
}

.buisness-section__text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.business-section__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.business-section__p {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
}

.business-section__button {
    border-radius: 4px;
    background: #0F8277;
    border: none;
    width: 100%;
    color: #EEE;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    box-sizing: border-box;
    padding: 10px 12px;

}

/* grid company list */

.business__companies {
    display: grid;
    grid-template-columns: 116px 116px 116px;
    grid-template-rows: 66px 66px 66px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.business__grid-item {
    width: 96px;
    height: 46px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business__grid-item img {
    width: 85%;
}

.buisness__item-1 img{
    width: 90%;
    
}

.buisness__item-1 {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.buisness__item-2 img{
    width: 40%;
}

.buisness__item-2 {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

.buisness__item-3 img {
    width: 70%;
}

.buisness__item-3 {
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

.buisness__item-4 {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
}

.buisness__item-5 img {
    width: 50%;
}

.buisness__item-5 {
    border: 1px solid #BABABA;
}

.buisness__item-6 {
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
}

.buisness__item-7 {
    border-top: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}

.buisness__item-8 img {
    width: 50%;
}

.buisness__item-8 {
    border-left: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}

.buisness__item-9 {
    border-left: 1px solid #BABABA;
    border-top: 1px solid #BABABA;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .business-section {
        display: flex;
        flex-direction: row;
        min-width: 768px;
        padding: 0 12px;
        gap: 32px;
    }

    .business-section__button {
        text-align: start;
        width: 118px;
    }
}

@media (min-width: 1200px) {
    .business-section {
        display: flex;
        flex-direction: row;
        min-width: 768px;
        padding: 0 12px;
        gap: 32px;
        margin-bottom: 80px;
    }

    .business-section__button {
        text-align: start;
        width: 118px;
    }

    .business__companies {
        width: 120%;
    }
}