.cooperate {
    background: #DBF3ED;
    box-sizing: border-box;
    padding: 64px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-width: 320px;
    align-self: center;
    margin-bottom: 67px;
}

.cooperate article {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.cooperate-companies {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    row-gap: 24px;
    column-gap: 14px;
}

.cooperate__flex-item-1 {
    width: 118px;
    height: 24px;
}

.cooperate__flex-item-2 {
    width: 62px;
    height: 22px;
}

.cooperate__flex-item-3 {
    width: 46px;
    height: 16px;
}

.cooperate__flex-item-4 {
    width: 33px;
    height: 33px;
}

.cooperate__flex-item-5 {
    width: 36px;
    height: 14px;
}

.cooperate__flex-item-6 {
    width: 75px;
    height: 24px;
}

.cooperate__flex-item-7 {
    width: 92px;
    height: 25px;
}

.cooperate__flex-item-8 {
    width: 91px;
    height: 19px;
}


@media (min-width: 1200px) {
    .cooperate {
        padding: 80px 30px;
        margin-bottom: 80px;
    }
}