.featured-topics {
    box-sizing: border-box;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    min-width: 320px;
    margin-bottom: 68px;
}

.featured-topics__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

/* all cards */

.featured-topics__stats {
    display: flex;
    column-gap: 24px;
    row-gap: 32px;
    flex-wrap: wrap;
}

/* 1 card */

.featured-topics__card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: start;
}

.featured-topics__card-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.featured-topics__course {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.featured-topics__course-name {
    color: #0F8277;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
}

.featured-topics__course-stats {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

/* more */

.featured-topics__more {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    align-self: center;
    position: relative;
    text-decoration: none;
}

.featured-topics__more::after {
    display: block;
    position: absolute;
    content: url(../images/arrow.svg);
    width: 20px;
    right: -30px;
    top: 0;
}


@media (min-width: 1200px) {
    .featured-topics {
        align-items: start;
        gap: 40px;
        width: fit-content;
        margin: 0 auto 68px;
    }

    .featured-topics__stats {
        gap: 100px;
    }
}