.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
    padding: 64px 8px;
    min-width: 320px;
    background-color: #DBF3ED;
}

.form div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.form-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

input {
    color: #8E8E8E;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

#message {
    display: flex;
    height: 104px;
    box-sizing: border-box;
    padding: 12px;
    align-items: flex-start;
}

.form-button {
    display: flex;
    padding: 10px 12px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    color: white;
}


@media (min-width: 768px) {
    .form-button {
        width: 168px;
    }
}

@media (min-width: 1200px) {
    .form {
        padding: 80px 256px;
    }
}