.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: center;
    box-sizing: border-box;
    padding: 0 8px;
    margin-bottom: 64px;
    min-width: 320px;
}

.photos article {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.photo-list {
    display: grid;
    grid-template-columns: 167px 167px;
    grid-template-rows: 116px 116px 116px 116px 116px 116px;
    gap: 24px;
}

.photo-item {
    width: 100%;
}

.x2-mobile {
    grid-row: span 2;
    grid-column: span 2;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .photo-list {
        grid-template-rows: 116px 116px 116px;
        grid-template-columns: 167px 167px 167px 167px;
    }

    .x2-mobile {
        grid-column: span 1;
        grid-row: span 1;
    }

    .x2-desktop {
        grid-row: span 2;
        grid-column: span 2;
    }
}

@media (min-width: 1200px) {
    .photo-list {
        grid-template-rows: 190px 190px 190px;
        grid-template-columns: 280px 280px 280px 280px;
        padding: 0 8px;
        box-sizing: border-box;
    }

    .x2-mobile {
        grid-column: span 1;
        grid-row: span 1;
    }

    .x2-desktop {
        grid-row: span 2;
        grid-column: span 2;
    }
}